@model List<Booking>
@{
}

<h2 class="text-center mb-5">List Of Bookings</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Bookings" asp-action="Create">New Booking</a>
	</div>
	<div class="col">
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Event Name</th>
			<th>Event Date</th>
			<th>Description</th>
			<th>Venue Id</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var booking in Model)
		{
			<tr>
				<td>@booking.BookingId</td>
				<td>@booking.EventId</td>			
				<td>@booking.VenueId</td>
				<td>@booking.BookingDate.ToString("MM/dd/YYYY")</td>
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Venues" asp-action="Edit"
					   asp-route-id="@booking.EventId">Edit</a>
					<a class="btn btn-danger btn-sm" asp-controller="Venues" asp-action="Delete"
					   asp-route-id="@booking.EventId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

