@model List<Event>
@{
}

<h2 class="text-center mb-5">List Of Events</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-controller="Event" asp-action="Create">New Event</a>
	</div>
	<div class="col">
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Event Id</th>
			<th>Event Name</th>
			<th>Event Date</th>
			<th>Description</th>
			<th>Venue Id</th>
            <th>Action</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var eventin in Model)
		{
			<tr>
				<td>@eventin.EventId</td>
				<td>@eventin.EventName</td>
				<td>@eventin.EventDate.ToString("MM/dd/YYYY")</td>
				<td>@eventin.Description</td>
				<td>@eventin.VenueId</td>				
				<td style="white-space:nowrap">
					<a class="btn btn-primary btn-sm" asp-controller="Event" asp-action="Edit"
					   asp-route-id="@eventin.EventId">Edit</a>
					<a class="btn btn-danger btn-sm" asp-controller="Event" asp-action="Delete"
					   asp-route-id="@eventin.EventId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

